<section class="brand">
    <div class="conteiner">
        <h2 class="section-title brand__title">
            We work with certfied watchmakers
        </h2>
        <ul>
            <li class="brand__item">
                <img src="./images/brend.png" alt="brend-whath" width="75" hight="40" />
            </li>
            <li class="brand__item">
                <img src="./images/brend2.png" alt="brend-whath" width="75" hight="40" />
            </li>
            <li class="brand__item">
                <img src="./images/brend3.png" alt="brend-whath" width="75" hight="40" />
            </li>
            <li class="brand__item">
                <img src="./images/brend4.png" alt="brend-whath" width="75" hight="40" />
            </li>
            <li class="brand__item">
                <img src="./images/brend5.png" alt="brend-whath" width="75" hight="40" />
            </li>
            <li class="brand__item">
                <img src="./images/brend6.png" alt="brend-whath" width="75" hight="40" />
            </li>
            <li class="brand__item">
                <img src="./images/brend7.png" alt="brend-whath" width="75" hight="40" />
            </li>
            <li class="brand__item">
                <ul class="nav-slider">
                    <li class="nav-slider__item">
                        <button type="button" class="nav-slider__btn">&#8249;</button>
                    </li>
                    <li class="nav-slider__item">
                        <button type="button" class="nav-slider__btn">&#8250;</button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>