<section class="hero">
    <div class="container">
        <h1 class="hero__tittle">
            Authenticate luxury watches on Chrono24 before buying
        </h1>
        <ul class="btn-list hero__list">
            <li class="btn-list__item">
                <button type="button" class="btn-list__button">
                    Enter Chrono24 listing URL to get a quote...
                </button>
            </li>
            <li class="btn-list__item">
                <button type="button" class="btn-list__button">
                    Get a quote
                </button>
            </li>
        </ul>

        <ul class="hero__list benefits-list">
            <li class="benefits-list__item">
                Authenticity & condition
                <a href="" class="benefits-list__link">report</a>
            </li>
            <li class="benefits-list__item">24/7 customer support</li>
            <li class="benefits-list__item">Money back guarantee</li>
        </ul>
    </div>
</section>