<section>
    <div class="container">
        <h2 class="section-title">How it works</h2>
        <ul class="works-list">
            <li class="works-list__item">
                <img src="./images/image4-min.jpg" alt="Clock1" width="390" height="231" />
                <p class="work-list__text">
                    Tell us which watch from Chrono24 you would like to buy and we
                    will order it for you
                </p>
            </li>
            <li class="works-list__item">
                <img src="./images/image6-min.jpg" alt="Clock2" width="390" height="231" />
                <p class="work-list__text">
                    The watch gets verified throught a multi-point inspection at our
                    Authentication Center. What is being checked?
                </p>
            </li>
            <li class="works-list__item">
                <img src="./images/image9-min.jpg" alt="Clock3" width="390" height="231" />
                <p class="work-list__text">
                    If the watch is authentic you buy it from us with no comission
                    and we ship it to you
                </p>
            </li>
        </ul>
    </div>
</section>